/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "estetik";
  src: url("/fonts/esthetique.otf");
}
@font-face {
  font-family: "trajan";
  src: url("/fonts/TrajanPro-Regular.ttf");
}
@font-face {
  font-family: "trajan-bold";
  src: url("/fonts/TrajanPro-Bold.otf");
}

#myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  @apply bg-third;
  color: black;
  cursor: pointer;
  height: 50px;
  width: 50px;
  /* padding: 10px 15px; */
  border-radius: 10px;
  animation: flutuar 2.5s linear infinite;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

.alert-success {
  @apply bg-green-200 rounded-lg mx-2 py-2 px-3 text-slate-900 ring-2 ring-inset ring-green-500 my-3;
}
.alert-error {
  @apply bg-rose-400 rounded-lg mx-2 py-2 px-3 text-white ring-2 ring-inset ring-rose-700 my-3;
}
.input-wrong {
  @apply border-2 border-rose-500;
}
.label-error {
  @apply text-sm font-semibold p-2 text-rose-500;
}
